MONGODB_URI=mongodb+srv://guru:Guru123@cluster0.uoptpau.mongodb.net/chat-app
JWT_SECRET=l7wLY1ew6iqmY1EeFgccWmJCIBAg9uSIon0onvjX0NL
JWT_EXPIRES_IN=7d
PORT=3000
CLIENT_ORIGIN=http://localhost:5173
MAX_ROOMS_PER_USER=5
INVITE_EXPIRES_HOURS=24
